@import "../css/index.css";

/*overwriting table formats*/
@media (min-width: 1000px) {
	.container {
	    width: 1000px;
	  
	}
}

.container {
    padding-bottom: 2.5%;
}

/* title */
.page-header {
    border-bottom: 1px solid #E2E2E2;
    margin-top:2.5%;
   
}

.row {
	 padding-bottom: 0px;
}

@media (min-width: 1000px) {
	.container {
	    /* width: 1000px; */
	    width: 1344px;
	}

}

.table-responsive ul {
	list-style-type: none;
}